{% load static %}

<html>
    <head>
        <title>ahs Compartment</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
    <div class="center">
            <h1>Welcome to ahs Compartment</h1>
            <p> The U.S. Bureau of Labor Statistics (BLS) predicts that healthcare related careers are out for a greater rate of growth compared to most other careers. Advancements in technology has created a major shift in the general perspective regarding Healthcare industry over the last decade. It is no longer considered to be the prerogative of doctors and nurses with greater importance being given to the roles of paramedical professionals and technologists. Moreover larger number of options at higher studies and research areas related to Allied health services are now available.

                Job opportunities for clinical laboratory technologists is likely to exceed available qualified professionals, as doctors rely more and more on laboratory tests to make diagnoses. Increasing use of surgical procedures for treatment of diseases in an ageing population is placing greater demand on surgical assistants and OT technologists.</p>
    </div>
    </body>
</html>


