{% load static %}

<html>
    <head>
        <title>control care</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to controlcare</h1>
            <p>Controlcare Automation Pvt Ltd, is a Chennai based Company, specializing in Design, manufacture, supply, testing and commissioning of Power Electronic Drive Systems and Industrial Automation Systems.

                We have a full fledged manufacturing set up for manufacture, assembly, testing of Drive and Automation Systems and are adequately staffed with Project & Commissioning Engineers.
                
                We are authorized Value Provider cum Channel Partners for ABB Industrial Drives and have arrangement with Siemens for PLC System. We can also handle other PLCs.
                
                We are accredited with ISO 9001-2008</p>
        </div>
    </body>
</html>


