{% load static %}

<html>
    <head>
        <title>ot compartment</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to ot Compartment</h1>
            <p>The two professional levels of occupational practice are:

                Occupational therapist (OT): An OT has a 4-year bachelor's degree in a related field (such as biology, psychology, or health science) and a master's degree from an accredited occupational therapy program.
                Occupational therapist assistant (OTA): An OTA has an associate's degree from an accredited OTA program. They can carry out treatment plans developed by an OT but can't do patient evaluations.
                OTs and OTAs must do supervised fieldwork programs and pass a national certification exam. A license to practice is mandatory in most states, as are continuing education classes.</p>
        </div>
    </body>
</html>


