{% load static %}

<html>
    <head>
        <title>physiotheraphy Compartment</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to physiotheraphy Compartment</h1>
            <p>Physiotherapists and Physical Therapists (PTs) work within a wide variety of health settings to improve a broad range of physical problems associated with different 'systems' of the body. In particular they treat neuromuscular (brain and nervous system), musculoskeletal (soft tissues, joints and bones), cardiovascular and respiratory systems (heart and lungs and associated physiology).

                Physiotherapists work autonomously, often as a member of a team with other health or social care professionals. Physiotherapy practice is characterised by reflective behaviour and systematic clinical reasoning, both contributing to and underpinning a problem-solving approach to patient-centric care.
                
                People are often referred for physiotherapy by doctors or other health and social care professionals. Increasingly, as a result of changes in health care, people are referring themselves directly to physiotherapists (first-line access) without previously seeing any other health care professional. Trends in Canada and Australia, for example, are even exploring the role of the physiotherapist within the triage system of emergency departments. </p>
        </div>
    </body>
</html>


