{% load static %}

<html>
    <head>
        <title>scop</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to scop</h1>
            <p>pharmacy, the science and art concerned with the preparation and standardization of drugs. Its scope includes the cultivation of plants that are used as drugs, the synthesis of chemical compounds of medicinal value, and the analysis of medicinal agents. Pharmacists are responsible for the preparation of the dosage forms of drugs, such as tablets, capsules, and sterile solutions for injection. They compound physicians’, dentists’, and veterinarians’ prescriptions for drugs. The science that embraces knowledge of drugs with special reference to the mechanism of their action in the treatment of disease is pharmacology.</p>
        </div>
    </body>
</html>


